{% extends 'base.html' %}
{% load navbar %}

{% block content %}
    <!-- pageheader -->
    <div class="s-pageheader">
        {% show_navbar %}
    </div> <!-- end s-pageheader -->

    <!-- s-content -->
    <section class="s-content s-content--narrow s-content--no-padding-bottom">
        <article class="row format-standard">
            <div class="s-content__header col-full">
                <h1 class="s-content__header-title">{{ post }}</h1>
                <ul class="s-content__header-meta">
                    <li class="date">{{ post.create_at|date:"Y-m-d" }}</li>
                    <li class="cat">
                        In
                        {% for item in post.categories.all %}
                            <a href="{{ post.get_absolute_url }}">{{ item }}</a>
                        {% endfor %}
                    </li>
                </ul>
            </div> <!-- end s-content__header -->

            <div class="col-full s-content__main">  
                <p class="lead">{{ post.content|safe }}</p>
    
                <p class="s-content__tags">
                    <span>Post Tags</span>

                    <span class="s-content__tag-list">
                        {% for tag in post.tags.all %}
                            <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>
                        {% endfor %}
                    </span>
                </p> <!-- end s-content__tags -->

                <div class="s-content__author">
                    <img src="{{ post.author.image.url }}" alt="">

                    <div class="s-content__author-about">
                        <h4 class="s-content__author-name"><a href="#0">{{ post.author }}</a></h4>
                        
                        {{ post.author.content|safe }}
                    </div>
                </div>
            </div> <!-- end s-content__main -->
        </article>

        <!-- comments -->
        <div class="comments-wrap">
            <div id="comments" class="row">
                <div class="col-full">
                    <h3 class="h2">{{ post.commnet_set.count }} Comments</h3>

                    <!-- commentlist -->
                    <ol class="commentlist">
                        {% for comment in post.get_comment %}
                        <li class="depth-1 comment">
                            <div class="comment__content">
                                <div class="comment__info">
                                    <cite>{{ comment.name }}</cite>

                                    <div class="comment__meta">
                                        <time class="comment__time">{{ comment.create_at|date:"Y-m-d" }}</time>
                                        <a class="reply" href="#contactForm" onclick="addComment('{{ comment.name }}', '{{ comment.id }}')" >Reply</a>
                                    </div>
                                </div>

                                <div class="comment__text"><p>{{ comment.content }}</p></div>
                            </div>
                            <ul class="children">
                                {% for com in comment.comment_set.all %}
                                <li class="depth-3 comment">
                                    <div class="comment__content">
                                        <div class="comment__info">
                                            <cite>{{ com.name }}</cite>

                                            <div class="comment__meta">
                                                <time class="comment__time">{{ com.create_at|date:"Y-m-d" }}</time>
                                                {% comment %} <a class="reply" href="#0">Reply</a> {% endcomment %}
                                            </div>
                                        </div>

                                        <div class="comment__text">
                                            <p>{{ com.content }}</p>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </li> <!-- end comment level 1 -->
                        {% endfor %}
                        {% comment %} <li class="thread-alt depth-1 comment">
                            <div class="comment__content">
                                <div class="comment__info">
                                    <cite>John Doe</cite>

                                    <div class="comment__meta">
                                        <time class="comment__time">Dec 16, 2017 @ 24:05</time>
                                        <a class="reply" href="#0">Reply</a>
                                    </div>
                                </div>

                                <div class="comment__text">
                                    <p>Sumo euismod dissentiunt ne sit, ad eos iudico qualisque adversarium, tota falli et mei. Esse euismod
                                    urbanitas ut sed, et duo scaevola pericula splendide. Primis veritus contentiones nec ad, nec et
                                    tantas semper delicatissimi.</p>
                                </div>
                            </div>
                            

                            <ul class="children">
                                <li class="depth-2 comment">
                                    <div class="comment__content">
                                        <div class="comment__info">
                                            <cite>Kakashi Hatake</cite>

                                            <div class="comment__meta">
                                                <time class="comment__time">Dec 16, 2017 @ 25:05</time>
                                                <a class="reply" href="#0">Reply</a>
                                            </div>
                                        </div>

                                        <div class="comment__text">
                                            <p>Duis sed odio sit amet nibh vulputate
                                            cursus a sit amet mauris. Morbi accumsan ipsum velit. Duis sed odio sit amet nibh vulputate
                                            cursus a sit amet mauris</p>
                                        </div>
                                    </div>

                                    
                                </li>
                            </ul>
                        </li> end comment level 1 {% endcomment %}
                    </ol> <!-- end commentlist -->


                    <!-- respond -->
                    <div class="respond">
                        <h3 class="h2">Add Comment</h3>

                        <form name="contactForm" id="contactForm" method="post" action="{% url 'add_comment' post.id %}">
                            {% csrf_token %}
                            <input name="parent" type="hidden" id="cParent" value="">
                            
                            <div class="form-field">
                                <input name="name" type="text" id="cName" class="full-width" placeholder="Your Name" value="">
                            </div>
                            <div class="form-field">
                                <input name="email" type="text" id="cEmail" class="full-width" placeholder="Your Email" value="">
                            </div>
                            <div class="message form-field">
                                <textarea name="content" id="cMessage" class="full-width" placeholder="Your Message" required=""></textarea>
                            </div>
                            <button type="submit" class="submit btn--primary btn--large full-width">Submit</button>
                        </form> <!-- end form -->
                    </div> <!-- end respond -->
                </div> <!-- end col-full -->
            </div> <!-- end row comments -->
        </div> <!-- end comments-wrap -->
    </section> <!-- s-content -->

    <script>
        function addComment(name, id){
            document.getElementById("cParent").value = id;
            document.getElementById("cMessage").innerText = name + ', '
        }

    </script>
{% endblock content %}