{% extends 'base.html' %}
{% load navbar %}
{% load cache %}

{% block title %}{{ category|capfirst }}{% endblock title %}{{category }}

{% block content %}
    <!-- pageheader --><div class="s-pageheader">{% show_navbar %}</div><!-- end s-pageheader -->
    
    <!-- s-content -->
    <section class="s-content">
        <div class="row narrow">
            <div class="col-full s-content__header" data-aos="fade-up">
                <h1>Search: {{ s }}</h1>
            </div>
        </div>
        
        <div class="row masonry-wrap">
            <div class="masonry">
                <div class="grid-sizer"></div>

                {% for item in post %}
                <article class="masonry__brick entry format-standard" data-aos="fade-up">
                
                    {% if item.image %}
                    <div class="entry__thumb">
                        <a href="{{ item.get_absolute_url }}" class="entry__thumb-link">
                            <img src="{{ item.image.url }}" alt="{{ item.title|truncatewords:6 }}">
                        </a>
                    </div>
                    {% endif %}

                    <div class="entry__text">
                        <div class="entry__header">
                            
                            <div class="entry__date">
                                <a href="{{ item.get_absolute_url }}">{{ item.create_at|date:"Y-m-d" }}</a>
                            </div>
                            <h1 class="entry__title"><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>{{ item.content|safe|truncatechars:50 }}</p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                {% for category in item.categories.all %}
                                    <a href="{{ category.get_absolute_url }}">{{ category.title }}</a> 
                                {% endfor %}
                            </span>
                        </div>
                    </div>

                </article>
                {% empty %}
                <article class="masonry__brick entry format-standard" data-aos="fade-up">
                    <h2 >There is no news</h2>
                </article> 
                {% endfor %}
            </div> <!-- end masonry -->
        </div> <!-- end masonry-wrap -->

        {% if page_obj.has_other_pages %}
        <div class="row">
            <div class="col-full">
                <nav class="pgn">
                    <ul>
                    {% if page_obj.has_previous %}
                        <li><a class="pgn__prev" href="?s={{ s }}&page={{ page_obj.previous_page_number }}">Prev</a></li>
                        {% if page_obj.number > 3 %}
                            <li><a class="pgn__num" href="?s={{ s }}&page=1">1</a></li>
                            {% comment %} <a class="page-numbers" href="?page=1">1</a> {% endcomment %}
                            {% if page_obj.number > 4 %}
                                <span>...</span>
                            {% endif %}
                        {% endif %}
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li><span class="pgn__num current">{{ num }}</span></li>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <li><a class="pgn__num" href="?s={{ s }}&page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li><a class="pgn__next" href="?s={{ s }}&page={{ page_obj.next_page_number }}">Next</a></li>

                        {% if page_obj.number < page_obj.paginator.num_pages|add:'-3'  %}
                            <span class="page-numbers" >...</span>
                            <li><a class="pgn__num" href="?s={{ s }}&page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                        {% elif page_obj.number <= page_obj.paginator.num_pages|add:'-3' %}
                            <li><a class="pgn__num" href="?s={{ s }}&page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                        {% endif %}
                    {% endif %}
                </nav>
            </div>
        </div>
        {% endif %}
    </section> <!-- s-content -->
{% endblock content %}